# dependencies
node_modules/

# IDE
.idea
.awcache
.vscode

# bundle
packages/**/*.d.ts
packages/**/*.js

# environment variables
*.env
!travis.env

# misc
/dist
/coverage
.DS_Store
lerna-debug.log
npm-debug.log
yarn-error.log
/**/npm-debug.log
/packages/**/.npmignore
/packages/**/LICENSE
test-report.xml
